<h1>Edit Dcb Account</h1>
<div class="btn"><%= link_to "Back", dcb_accounts_path %></div>
<hr>
<div class="well well-large">
  <%= render :partial => "form", :locals => { :dcb_account => @dcb_account } %>
</div>